{% extends 'Class/base.html' %}


{% block content %}
{% include 'Class/status.html' %}
<div class="row">
    <div class="col">
        <h5>Last 5 Registration</h5>
        <hr>
        <div class="card card-body">
            <a href="{% url 'Register' %}" class="btn btn-info btn-sm btn-block text-black">Create Student</a>
            {% if last %}
            <div class="table-responsive">
                <table class="table table-hover display-five">
                    <thead>
                        <tr>
                            <th>Student Number</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Registered Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in last %}
                        <tr>
                            <td>{{student.roll_id}}</td>
                            <td style="text-transform: capitalize;">{{student.student}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.date_created}}</td>
                            <td>{{student.status}}</td>
                            <td><a href="{% url 'StudentInfo' student.id %}" class="btn btn-sm btn-success .origin text-white"><i class="fa-solid fa-eye"></i></a>
                                <a href="{% url 'UpdateStudent' student.id %}" class="btn btn-sm btn-info .origin text-white"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'DeleteStudent' student.id %}" class="btn btn-sm btn-danger .origin text-white"><i class="fa-solid fa-trash sb-nav-link-icon"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h5>No Student Records</h5>
            {% endif %}
        </div>
    </div>
</div>



    

{% endblock content %}
