{% extends 'Class/base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <h5>Information table of people who query for class</h5>
        <hr>
        <div class="card card-body">
            <a href="{% url 'InQueryRegister' %}" class="btn btn-info btn-sm btn-block text-black">ADD Student</a>
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Course</th>
                    <th>Guardian</th>
                    <th>Date Query</th>
                    <th>More</th>
                </tr>
                {% for student in student %}
                <tr>
                    <td style="text-transform: capitalize;">{{student.student}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.course}}</td>
                    <td>{{student.guardian}}</td>
                    <td>{{student.date_created}}</td>
                    <td>
                        <a href="{% url 'QueryInfo' student.id %}"  class="btn btn-success btn-sm btn-block">View</a>
                    </td> 
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</div>

{% endblock content %}