{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Class For All</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/svgs.js' %}" crossorigin="anonymous"></script>
    
</head>
<body>
{% include 'Class/navbar.html' %}
    <div class="wrapper">
        {% include 'Class/sidebar.html' %}
        <div class="container content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>

</html>