{% extends 'Class/base.html' %}

{% block content %}

<main class="Student_register">
    <div class="container-fluid">
        <form method="post" action="">	
            <h1>Student InQuery</h1>
            <div class="row">
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="InputBox">
                        {{ form.roll_id.errors }}
                        <label for="{{ form.roll_id.id_for_label }}">Student's Unique ID</label>
                        {{ form.roll_id }}          
                    </div>
                    <div class="InputBox">
                        {{ form.student.errors }}
                        <label for="{{ form.student.id_for_label }}">Student's Name</label>
                        {{ form.student }}          
                    </div>
                    <div class="InputBox">
                        {{ form.guardian.errors }}
                        <label for="{{ form.guardian.id_for_label }}">Guardian Name</label>
                        {{ form.guardian }}               
                    </div>
                    <div class="InputBox">
                        {{ form.phone.errors }}
                        <label for="{{ form.phone.id_for_label }}">Student's Phone Number</label>
                        {{ form.phone }}               
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="InputBox">
                        {{ form.subjects.errors }}
                        <label for="{{ form.subjects.id_for_label }}">Subjects</label>
                        {{ form.subjects }}               
                    </div>
                    <div class="InputBox">
                        {{ form.course.errors }}
                        <label for="{{ form.course.id_for_label }}">Course</label>
                        {{ form.course }}               
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="InputBox-Btn">
                    <input class="form-control btn btn-primary register_button" type="submit" value="Register" name="register">
                    <input class="form-control btn btn-primary register_button" type="submit" value="Cancel" name="cancel">
                </div>
            </div>
        </form>
    </div>
</main>

{% endblock %}