<h3 style="font-family: 'lobster two',monospace;">Class Information</h3>
<br>

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="{% url 'Student' %}"  style="text-decoration: none;color: black;">
            <div class="col-md">
                <div class="card text-white status-card text-center flower">
                    <div class="card-header">Total Student</div>
                    <div class="card-body">
                      <h4 class="card-title">{{total_student}}</h4>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="col-md">
            <a href="{% url 'Completed' %}" style="text-decoration: none;color: black;">
                <div class="card status-card text-center flower text-black mb-3" id="total-store">
                    <div class="card-header">Total Completed</div>
                    <div class="card-body">
                        <h4 class="card-title">{{total_complete}}</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="col-md">
            <a href="{% url 'InQuery' %}" style="text-decoration: none;color: black;">
                <div class="card status-card text-center flower text-black mb-3" id="total-borrow">
                    <div class="card-header">Total InQuery</div>
                    <div class="card-body">
                        <h4 class="card-title">{{total_inquery}}</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="col-md">
            <a href="{% url 'Dropout' %}" style="text-decoration: none;color: black;">
                <div class="card status-card flower text-center text-black mb-3" id="total-borrow">
                    <div class="card-header">Total Resign</div>
                    <div class="card-body">
                        <h4 class="card-title">{{total_resign}}</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>